.card{
    transition: 0.5s;
}

.card:hover{
    transform: scale(0.95);
    z-index: 2;
}

.info{
    display: none;
    opacity: 1;
    transition: all 1s;
    overflow-wrap: break-word;
    z-index: 10;
}

.card-body:hover .info{
    display: block;
    opacity: 1;
}

.card:hover figure img{
    filter: blur(4px);
}

.card-body:hover h1{
    display: none;
    opacity: 0;
}

.card.image-full:before{
    opacity: 0.2;
}

.card figure {
    position: relative;
    width: 100%;

    overflow: hidden; /* 이미지가 컨테이너 밖으로 넘어가는 부분을 숨김 */
}

.card figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너에 꽉 차도록 하되, 비율을 유지하며 자름 */
}
